{{ 'loginregister.css' | asset_url | stylesheet_tag }}

<div class="loginregister_container">
    <div class="loginregister_form-wrapper">
        <h1>Login</h1>
        {% form 'customer_login' %}
          {% if form.errors %}
            {% assign isError = "error_sign" %}
          {% endif %}
          <div class="input_wrapper">
            <input required type="text" id="customer_email" name="customer[email]" class="customer_input {{isError}}">
            <label class="loginregister_label" for="customer_email">Email</label>
          </div>
          {% if form.password_needed %}
            <div class="input_wrapper">
              <input required type="password" id="customer_password" name="customer[password]" class="customer_input {{isError}}">
              <label class="loginregister_label" for="customer_password">Password</label>
            </div>
          {% endif %}
          <a href="/account/login#" class="form_forgot-password">Forgot password?</a>
          {% if form.errors %}
            <p class="form_error">{{ form.errors | default_errors }}</p>
          {% endif %}
          <button class="loginregister_form-btn" type="submit">Log in</button>
        {% endform %}
        <p class="loginregister_option-inst">Don’t have an account yet?</p>
        <a href="{{ routes.account_register_url }}" class="loginregister_option-link">Create an account</a>
    </div>
</div>