{{ 'loginregister.css' | asset_url | stylesheet_tag }}

<div class="loginregister_container">
  <div class="loginregister_form-wrapper">
      <h1>Create an account</h1>
      {% form 'create_customer' %}
          {% if form.errors %}
            {% assign isError = "error_sign" %}
          {% endif %}
        <div class="input_wrapper-sibling">
          <div>
            <input required type="text"  id="customer_firstname" name="customer[first_name]" class="customer_input {{isError}}">
            <label class="loginregister_label" for="customer_firstname">First Name</label>
          </div>
          <div>
            <input required type="text"  id="customer_lastname" name="customer[last_name]" class="customer_input {{ isError }}">
            <label class="loginregister_label" for="customer_lastname">Last Name</label>
          </div>
        </div>
        <div class="input_wrapper">
          <input required type="text" id="customer_email" name="customer[email]" class="customer_input {{ isError }}">
          <label class="loginregister_label" for="customer_email">Email</label>
        </div>
          <div class="input_wrapper">
            <input required type="password" id="customer_password" name="customer[password]" class="customer_input {{ isError }}">
            <label class="loginregister_label" for="customer_password">Password</label>
          </div>
          <div class="input_wrapper">
            <input required type="password" id="customer_confirmpassword" name="customer[password]" class="customer_input {{ isError }}">
            <label class="loginregister_label" for="customer_confirmpassword">Confirm Password</label>
          </div>
        {% if form.errors %}
          <p class="form_error">{{ form.errors | default_errors }}</p>
        {% endif %}
        <button class="loginregister_form-btn" type="submit" style="margin-top: 32px;">Create an account</button>
      {% endform %}
      <p class="loginregister_option-inst">Already have an account?</p>
      <a href="{{ routes.account_login_url }}" class="loginregister_option-link">Log in</a>
  </div>
</div>
