{{ "cart.css" | asset_url | stylesheet_tag }}
<form action="{{ routes.cart_url }}" method="post" class="cart" data-ajax-cart-section > 
{% unless cart == empty %}
  <div class="cart__top">
    <p>My cart</p>
    <button class="no-bg" data-ajax-cart-toggle-class-button="cart-active">
      {% render 'icon-close-cart' %}
    </button>
  </div>
 <div class="cart_items_container">
  {% for item in cart.items %}
  <div class="cart__item">
    <img src="{{item.image | img_url: '120x150'}}" alt="">
    
    <div class="cart_item_info">
      <div class="cartitem_name_price"> <a href="{{ item.url }}">{{ item.title | split: '-' | first }}</a> <p>{{ item.final_price | money }}</p></div>
    <div>
    <div class="cart_item_size">
      <div>
        <p>{{  item.variant.title | split: '/' | first }}</p>
        <p>{{  item.variant.title | split: '/' | last }}</p>
      </div>
      <a class="cart_item_counter" href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity=0">{% render 'icon-close' %}</a>
    </div>
     <div class="cart_item_counter-container">
      <a
      href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity={{
        item.quantity | minus: 1
      }}"
      class="cart_item_counter"
    >
      {% render 'icon-minus' %}
    </a>
   <p> {{ item.quantity }}</p>
    <a
      href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity={{
        item.quantity | plus: 1
      }}" 
      class="cart_item_counter"
    >
    {% render 'icon-plus' %}
      
    </a>
     </div>
    </div>
    </div>
  </div> 
  {% endfor %}
 </div>
    <div class="cart_summary">
      <div class="subtotal"><p>Subtotal:</p> <span>{{ cart.total_price | money }}</span> </div>
      <p class="cart_taxt_info">Tax and shipping calculates at checkout.</p>
      <div class="product_finance-company">
        {% assign finance_company_image = product.metafields.finance_company_img.finance_company_image | first %}
        <img src="{{ finance_company_image.src }}" alt="">
        <p>{{ product.metafields.finance_company_text.finance_company_text }}</p>
      </div>
      <button {% if cart == empty %} disabled {% endif %} type="submit" class="proceed_to_checkout">Continue to Checkout</button>
    </div>
    {% else %}
    <div class="cart_empty">
      <div class="cart__top">
        <p>My cart</p>
        <button class="no-bg" data-ajax-cart-toggle-class-button="cart-active">
          {% render 'icon-close-cart' %}
        </button>
      </div>
     <div class="cart_empty_ontainer">
      <p class="cart_empty_title">Your Cart is Empty</p>
      <a href="" class="shop_bestseller">Shop Best Sellers</a>
     </div>
    </div>
  {% endunless %}
  </form>
 
  
  <div data-ajax-cart-toggle-class-button="cart-active" class="overlay"></div>

{% schema %} { "name": "AJAX cart" } {% endschema %}
