{{ 'collection-banner.css' | asset_url | stylesheet_tag }}

<div class="collection-banner">
    <div class="collection-banner-info">
      {%- if section.settings.collection_banner_subtitle -%}
          <p class="bannerinfo-subtitle"> <span>/</span> {{ section.settings.collection_banner_subtitle | upcase }}</p>
      {% endif %}
      {%- if section.settings.collection_banner_title -%}
        <h1 class="bannerinfo-title">{{ section.settings.collection_banner_title | upcase }}</h1>
      {% endif %}
      {%- if section.settings.collection_banner_url and section.settings.collection_banner_btntext -%}
        <a class="bannerinfo-link" href="{{ section.settings.collection_banner_url }}">{{ section.settings.collection_banner_btntext }} {% render 'icon-arrow' %} </a>
      {% endif %}
    </div>
    <div class="collection-banner-image">
      {{ section.settings.collection_bannerinfo_imageMain | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        class: "bannerinfo_imageMain",
        sizes: "100vw",
        alt: section.settings.collection_bannerinfo_imageMain.alt | escape
      }}
      {{ section.settings.collection_bannerinfo_imageSecondary | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        class: "bannerinfo_imageSecondary",
        sizes: "100vw",
        alt: section.settings.collection_bannerinfo_imageSecondary.alt | escape
      }}
    </div>
</div>


{% schema %}
  {
   "name": "Collection Banner",
   "settings" : [
      {
        "type" : "text",
        "id" : "collection_banner_title",
        "default" : "highest quality equipment for your strength training",
        "label" : "Collection Banner title"
      },
      {
        "type" : "text",
        "id" : "collection_banner_subtitle",
        "default" : "Strength ",
        "label" : "Collection Banner subtitle"
      },
      {
        "type" : "url",
        "id" : "collection_banner_url",
        "label" : "Collection Banner Link URL"
      },
      {
        "type": "text",
        "id" : "collection_banner_btntext",
        "default" : "Consultation",
        "label" : "Collection Banner Link text"
      },
      {
        "type" : "image_picker",
        "id" : "collection_bannerinfo_imageMain",
        "label" : "Collection Banner info image Main"
      },
      {
        "type" : "image_picker",
        "id" : "collection_bannerinfo_imageSecondary",
        "label" : "Collection Banner info image Secondary"
      }
   ]
  }
{% endschema %}