{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

<div class="product_container">
  <div class="product_form-container">
    <div class="product_media-wrapper">
      <div class="swiper product_carousel">
        <div class="swiper-wrapper">
          {% for media in product.media %}
          <div class="swiper-slide">
            {% render 'product-media', media: media %}
          </div>
        {% endfor %}
        </div>
      <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="product_info-form">
      <div class="product_info">
        {% form 'product', product %}
          <h1 class="product_info-title">{{ product.title }}</h1>
          {% assign product_price = product.selected_or_first_available_variant %}
          <p class="product_info-price">{{ product_price.compare_at_price | money }}</p>
          <div class="card__rating">
            {% render 'icon-star' %}
            {% render 'icon-star' %}
            {% render 'icon-star' %}
            {% render 'icon-star' %}
            {% render 'icon-star' %}

            <span>18 reviews</span>
          </div>
          <p class="product_info-desc">{{ product.description }}</p>

          <div class="product_variants_container">
            {% unless product.has_only_default_variant %}
                <div data-url="{{ product.url }}" data-section="{{ section.id }}">
                    {% for option in product.options_with_values %}
                        <label for="Option-{{section.id}}-{{forloop.index0 }}">{{ option.name }}</label>

                        <div class="product_variants">
                          {% for value in option.values %}
                            <label for="option-{{option.name}}-{{ forloop.index0 }}">{{value | escape}}</label>
                            <input type="radio" name="option-{{option.name}}" id="option-{{option.name}}-{{ forloop.index0 }}" >
                          {% endfor %} 
                        </div>
                    {% endfor %}
                </div>
            {% endunless %}
          </div>

          {% if product.metafields.custom.free_shipping %}
            <p class="product_features-shipping">Available for Free shipping!</p>
          {% endif %}
        {% endform %}
      </div>
    </div>
  </div>
</div>

<script>
    var swiperProduct = new Swiper(".swiper", {
        slidesPerView: 1,
        direction: "vertical",
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        }
      });
</script>